.App {
  text-align: center;
}

.App-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color : black;
}