.empProfile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile_img{
    text-align: center;
}
.profile_img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.profile_head h5{
    color: #333;
}

.profile-tab label{
    font-weight: 600;
}

.paper{
    padding: 16px;
}

.marginTop15{
    margin-top: 15px;
}